<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<div class="mdl-layout__title">
				<h2>{{title}}</h2>
			</div>
		</div>		
	</header>
	<main class="mdl-layout__content" style="margin-right:20px">
        <div class="left mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			<div class="mdl-tabs__tab-bar">
				<a routerLink="/dashboard" class="mdl-tabs__tab mdl-shadow-2dp tabs is-active">Dashboard</a>
				<a routerLink="/heroes" class="mdl-tabs__tab mdl-shadow-2dp tabs">Heroes</a>
			</div>
		</div>
		<router-outlet></router-outlet>
	</main>
</div>